<div ng-controller="HeaderController as vm">
  <header class="clearfix header-cont newyear">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container" style="position:relative">
      <div class="row">
        <div class="header-top clearfix">
          <div class="logo header-top-1">
            <div class="navbar-brand"> <a href="/" style="color: #fff;" target="_self">
              <img class="logo img-responsive" src="https://www.cooky.vn/Content/img/cooky-slogan-white.68.png">
            </a>
            </div>

          </div>
          <div class="header-top-2">
            <div id="cookySearchBox">
              <div>
                <form class="form-horizontal" action="/tim-kiem" method="get" novalidate="novalidate">
                  <div class="qsearch-box">
                    <input type="text" name="q" placeholder="tìm kiếm công thức">
                    <button type="submit" class="glyphicon glyphicon-search ico-search"></button>
                  </div>
                  <!--<div style="display: none" class="search-suggest-panel">-->
                    <!--<ul class="group">-->
                      <!--<li>-->
                        <!--<div class="left">Từ khóa</div>-->
                        <!--<ul class="items">-->
                          <!--<li>-->
                            <!--<div ng-click="goSearchResults()">-->
                              <!--<span class="textname ng-binding"></span>-->
                              <!--<a ng-href="/cong-thuc?q=&amp;st=7" class="detail-link" href="/cong-thuc?q=&amp;st=7" target="_self">Xem tất cả</a>-->
                            <!--</div>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<div class="left">Công thức</div>-->
                        <!--<ul class="items">-->
                          <!--&lt;!&ndash; ngRepeat: item in items &ndash;&gt;-->
                        <!--</ul>-->
                      <!--</li>-->
                    <!--</ul>-->

                  <!--</div>-->
                </form>
              </div>
            </div>
          </div>
          <div class="header-top-3">
            <ul class="top-list">
              <li>
                <a href="/ung-dung-mobile?utm_source=Header&amp;utm_medium=TopMenu&amp;utm_campaign=Cooky+Mobile+App" target="_self">
                  <span class="fa fa-mobile-phone"></span>
                  <span class="sr-only">Ứng dụng nấu ăn ngon</span>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/cooky.vn" target="_blank" rel="nofollow">
                  <span class="fa fa-facebook-square"></span>
                  <span class="sr-only">Cooky Facebook Fage</span>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/cooky.vn/" target="_blank" rel="nofollow">
                  <span class="fa fa-instagram"></span>
                  <span class="sr-only">Cooky Instagram Fage</span>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/c/tvCooky" target="_blank" rel="nofollow">
                  <span class="fa fa-youtube-square"></span>
                  <span class="sr-only">Cooky TV Youtube Channel - Cooky.vn</span>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar main-navbar clr-navbar">
      <div class="container">
        <!--<div class="navbar-header">-->
          <!--<button type="button" class="navbar-toggle collapsed"  data-target="#bs-main-navbar-collapse-1">-->
            <!--<span class="icon-bar"></span>-->
          <!--</button>-->
        <!--</div>-->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="">
              <a href="/" target="_self"><span class="glyphicon glyphicon-home"></span></a>
            </li>
            <li class="active">
              <a href="/tim-kiem" target="_self">Công thức</a>
            </li>

            <li class="">
              <a href="/blog" target="_self">Blog</a>
            </li>

            <li class="">
              <a href="/bo-suu-tap" target="_self">Bộ sưu tập</a>
            </li>
            <li class="">
              <a href="/video" target="_self">Videos</a>
            </li>
            <li class="menu-dropdown mega-menu-dropdown  mega-menu-full ">
              <a href="/dia-diem" target="_self"><span class="fa nav fa-map-marker"></span> Địa điểm</a>
            </li>
            <li class="">
              <a href="/san-pham" target="_self">Sản phẩm</a>
            </li>
            <li class="">
              <a href="/thanh-vien" target="_self"><span class="fa fa-users"></span> Top đầu bếp</a>
            </li>
            <li class="">
              <a href="/hoi-dap" target="_self"><span class="fa fa-comments-o"></span> Hỏi &amp; Đáp</a>
            </li>
            <li class="dropdown ">
              <a class="dropdown-toggle" id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bars"></span></a>
              <ul class="dropdown-menu">

                <li class="">
                  <a href="/wiki"><span class="fa fa-book"></span> Wiki</a>
                </li>
                <li class="">
                  <a href="/doi-thuong"> <span class="fa fa-gift"></span> Đổi thưởng</a>
                </li>
                <li class="">
                  <a href="/su-kien"><span class="fa fa-calendar"></span> Sự kiện</a>
                </li>
              </ul>
            </li>
            <li>
              <div class="language-box">
                <div class="dropdown">
                  <a class="dropdown-toggle" href="javascript:void(0)" rel="nofollow" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <img class="flag current img-responsive" src="https://www.cooky.vn/Content/img/icons/flags/VN.png" alt="vietnamese">

                  </a>
                  <ul class="dropdown-menu dropdown-lang" aria-labelledby="dropdownLanguage">
                    <li><a href="/common/setlanguage?langid=1&amp;returnUrl=https://www.cooky.vn/" class="l-indicator"><img class="flag img-responsive" src="/Content/img/icons/flags/VN.png" alt="vietnamese"> Tiếng Việt</a></li>
                    <li><a href="/common/setlanguage?langid=2&amp;returnUrl=https://www.cooky.vn/" class="l-indicator"><img class="flag img-responsive" src="/Content/img/icons/flags/USA.png" alt="english"> English</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <div id="header-user-form" class="header-user-form">
              <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
                <li ui-sref-active="active">
                  <a ui-sref="authentication.signup">Sign Up</a>
                </li>
                <li class="divider-vertical"></li>
                <li ui-sref-active="active">
                  <a ui-sref="authentication.signin">Sign In</a>
                </li>
              </ul>
            </ul>

            <div id="update-profile-popup" style="display: none">
            </div>
            <div id="update-profile-popup-loading" style="display: none">
              Đang tải ...
            </div>
            <div id="loginPopup" style="display: none">

            </div>



          </div>
        </div>

      </div>
    </div>
  </header>
</div>
