<section>
  <div class="featured-search" ng-controller="HomeController">
    <div>
      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <a href="#">
            <img ng-src="{{slide.image}}" style="margin:auto;">
          </a>
          <div class="item-tips">
            <div class="item-tip-1">
              <a href="#">
                {{slide.tip1}}
              </a>
            </div>
            <div class="item-tip-2"><span class="fa fa-file-text-o"></span>
              {{slide.tip2}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 100%; position: absolute; top: 50px;">
      <div style="max-width: 800px; margin: 0 15%;">
        <div class="title">
          <h1 class="mt2 mb1 center">Nấu gì hôm nay? Tìm ngay công thức</h1>
        </div>
        <div class="search-container">
          <form action="/tim-kiem" method="get" novalidate="novalidate">
            <span class="glyphicon glyphicon-search"></span>
            <input name="q" type="text" class="form-control" placeholder="ví dụ: cupcake, soup, mojito, sinh tố, ...">
            <input name="s" type="hidden" value="home">
          </form>
        </div>
      </div>
    </div>

    <div class="wide-box top-current-view-box">
        <div class="headline">
          <h2>Các món ngon đang xem nhiều</h2>
        </div>
        <div class="top-quickeasy-listbox row">
          <div class="recently-item square-item">
            <div class="recently-item-photo">
              <a href="#">
                <div class="recently-item-overlay-box"></div>
                <img src="https://media.cooky.vn/recipe/g1/7226/s200x200/recipe7226-635963258167673739.jpg" class="img-responsive" alt="Sườn non chưng tương hột">
              </a>
            </div>
            <div class="recently-item-info-box">
              <h3 class="title"><a href="#" title="Sườn non chưng tương hột">Sườn non chưng tương hột</a></h3>
              <div class="recipe-stats">
                <ul class="list-inline nomargin">
                  <li style="float: left">
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                  </li>
                  <li style="text-align: right;float: right; padding-right: 0;  max-width: 98px;">
                    <span>
                        <span class="stats-count text-highlight">146</span> đang xem
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="recently-item square-item">
            <div class="recently-item-photo">
              <a href="#">
                <div class="recently-item-overlay-box"></div>
                <img src="https://media.cooky.vn/recipe/g2/19997/s200x200/cooky-recipe-636304624916637878.jpg" class="img-responsive" alt="Sườn non chưng tương hột">
              </a>
            </div>
            <div class="recently-item-info-box">
              <h3 class="title"><a href="#" title="Sườn non chưng tương hột">Sườn non chưng tương hột</a></h3>
              <div class="recipe-stats">
                <ul class="list-inline nomargin">
                  <li style="float: left">
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                  </li>
                  <li style="text-align: right;float: right; padding-right: 0;  max-width: 98px;">
                    <span>
                        <span class="stats-count text-highlight">146</span> đang xem
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="recently-item square-item">
            <div class="recently-item-photo">
              <a href="#">
                <div class="recently-item-overlay-box"></div>
                <img src="https://media.cooky.vn/recipe/g2/19992/s200x200/cooky-recipe-636304547683866226.jpg" class="img-responsive" alt="Sườn non chưng tương hột">
              </a>
            </div>
            <div class="recently-item-info-box">
              <h3 class="title"><a href="#" title="Sườn non chưng tương hột">Sườn non chưng tương hột</a></h3>
              <div class="recipe-stats">
                <ul class="list-inline nomargin">
                  <li style="float: left">
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                  </li>
                  <li style="text-align: right;float: right; padding-right: 0;  max-width: 98px;">
                    <span>
                        <span class="stats-count text-highlight">146</span> đang xem
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="recently-item square-item">
            <div class="recently-item-photo">
              <a href="#">
                <div class="recently-item-overlay-box"></div>
                <img src="https://media.cooky.vn/recipe/g2/19988/s200x200/recipe19988-636304526521649056.JPG" class="img-responsive" alt="Sườn non chưng tương hột">
              </a>
            </div>
            <div class="recently-item-info-box">
              <h3 class="title"><a href="#" title="Sườn non chưng tương hột">Sườn non chưng tương hột</a></h3>
              <div class="recipe-stats">
                <ul class="list-inline nomargin">
                  <li style="float: left">
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                  </li>
                  <li style="text-align: right;float: right; padding-right: 0;  max-width: 98px;">
                    <span>
                        <span class="stats-count text-highlight">146</span> đang xem
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="recently-item square-item">
            <div class="recently-item-photo">
              <a href="#">
                <div class="recently-item-overlay-box"></div>
                <img src="https://media.cooky.vn/recipe/g2/19996/s200x200/cooky-recipe-636304610196452023.jpg" class="img-responsive" alt="Sườn non chưng tương hột">
              </a>
            </div>
            <div class="recently-item-info-box">
              <h3 class="title"><a href="#" title="Sườn non chưng tương hột">Sườn non chưng tương hột</a></h3>
              <div class="recipe-stats">
                <ul class="list-inline nomargin">
                  <li style="float: left">
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                  </li>
                  <li style="text-align: right;float: right; padding-right: 0;  max-width: 98px;">
                    <span>
                        <span class="stats-count text-highlight">146</span> đang xem
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="recently-item square-item">
            <div class="recently-item-photo">
              <a href="#">
                <div class="recently-item-overlay-box"></div>
                <img src="https://media.cooky.vn/recipe/g2/19376/s200x200/cooky-recipe-636265666436476029.JPG" class="img-responsive" alt="Sườn non chưng tương hột">
              </a>
            </div>
            <div class="recently-item-info-box">
              <h3 class="title"><a href="#" title="Sườn non chưng tương hột">Sườn non chưng tương hột</a></h3>
              <div class="recipe-stats">
                <ul class="list-inline nomargin">
                  <li style="float: left">
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                  </li>
                  <li style="text-align: right;float: right; padding-right: 0;  max-width: 98px;">
                    <span>
                        <span class="stats-count text-highlight">146</span> đang xem
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="recently-item square-item">
            <div class="recently-item-photo">
              <a href="#">
                <div class="recently-item-overlay-box"></div>
                <img src="https://media.cooky.vn/recipe/g1/1856/s200x200/recipe1856-635701556406518940.jpg" class="img-responsive" alt="Sườn non chưng tương hột">
              </a>
            </div>
            <div class="recently-item-info-box">
              <h3 class="title"><a href="#" title="Sườn non chưng tương hột">Sườn non chưng tương hột</a></h3>
              <div class="recipe-stats">
                <ul class="list-inline nomargin">
                  <li style="float: left">
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                  </li>
                  <li style="text-align: right;float: right; padding-right: 0;  max-width: 98px;">
                    <span>
                        <span class="stats-count text-highlight">146</span> đang xem
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="recently-item square-item">
            <div class="recently-item-photo">
              <a href="#">
                <div class="recently-item-overlay-box"></div>
                <img src="https://media.cooky.vn/recipe/g2/19986/s200x200/recipe19986-636304449726302173.png" class="img-responsive" alt="Sườn non chưng tương hột">
              </a>
            </div>
            <div class="recently-item-info-box">
              <h3 class="title"><a href="#" title="Sườn non chưng tương hột">Sườn non chưng tương hột</a></h3>
              <div class="recipe-stats">
                <ul class="list-inline nomargin">
                  <li style="float: left">
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                  </li>
                  <li style="text-align: right;float: right; padding-right: 0;  max-width: 98px;">
                    <span>
                        <span class="stats-count text-highlight">146</span> đang xem
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="recently-item square-item">
            <div class="recently-item-photo">
              <a href="#">
                <div class="recently-item-overlay-box"></div>
                <img src="https://media.cooky.vn/recipe/g2/19764/s200x200/recipe19764-636287254804624754.jpg" class="img-responsive" alt="Sườn non chưng tương hột">
              </a>
            </div>
            <div class="recently-item-info-box">
              <h3 class="title"><a href="#" title="Sườn non chưng tương hột">Sườn non chưng tương hột</a></h3>
              <div class="recipe-stats">
                <ul class="list-inline nomargin">
                  <li style="float: left">
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                  </li>
                  <li style="text-align: right;float: right; padding-right: 0;  max-width: 98px;">
                    <span>
                        <span class="stats-count text-highlight">146</span> đang xem
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="recently-item square-item">
            <div class="recently-item-photo">
              <a href="#">
                <div class="recently-item-overlay-box"></div>
                <img src="https://media.cooky.vn/recipe/g2/19982/s200x200/cooky-recipe-636304393974456250.jpg" class="img-responsive" alt="Sườn non chưng tương hột">
              </a>
            </div>
            <div class="recently-item-info-box">
              <h3 class="title"><a href="#" title="Sườn non chưng tương hột">Sườn non chưng tương hột</a></h3>
              <div class="recipe-stats">
                <ul class="list-inline nomargin">
                  <li style="float: left">
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                    <span class="fa fa-star text-gray"></span>
                  </li>
                  <li style="text-align: right;float: right; padding-right: 0;  max-width: 98px;">
                    <span>
                        <span class="stats-count text-highlight">146</span> đang xem
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>


    <!-- Start back to top-->
    <div class="bottom-toolbox">
      <a class="back-to-top" style="color: #333"><i class="fa fa-angle-up fa-2x gototop"></i></a>
      <a href="#" title="visit Cooky fanpage" target="_blank" class="ico-item">
        <span class="ico ico-24 block ico-facebook ico-circle center"></span>
      </a>
      <a href="https://www.youtube.com/c/tvCooky" title="go to CookyTV Channel" target="_blank" class="ico-item">
        <span class="ico ico-24 block ico-cooky-tv-logo-48 ico-circle center"></span>
      </a>
      <a href="https://www.instagram.com/cooky.vn/" title="view instagram" target="_blank" class="ico-item">
        <span class="ico ico-24 block ico-instagram ico-circle center"></span>
      </a>
      <a href="https://www.messenger.com/t/cooky.vn" title="send a message" target="_blank" class="ico-item">
        <span class="ico ico-24 block ico-cooky-logo ico-circle center">
            <i class="_2pon _2poo"></i>
        </span>
      </a>
    </div>
    <!-- End back to top-->
  </div>
</section>
<script type="text/javascript">

  $(document).ready(function () {
    //Check to see if the window is top if not then display button
    $(window).scroll(function () {
      if ($(this).scrollTop() > 10) {
        $('.back-to-top').fadeIn();
      } else {
        $('.back-to-top').fadeOut();
      }
    });
    //Click event to scroll to top
    $('.back-to-top').click(function () {
      $('html, body').animate({ scrollTop: 0 }, 100);
      return false;
    });
  });
</script>

